<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <title>New::Crud</title>
</head>
<body>
  <div>
    <h1>Edit User</h1>
  </div>
 	<form action="#" th:action="@{/update}"  th:object="${user}" method="post">
	    <input th:field="*{id}" type="text" name="id" id="id" hidden="true"/>
	    <label for="name">Name</label>
	    <div>
	      <input th:field="*{name}" type="text" name="name" id="name" placeholder="Your name"/>
	      <p typeth:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
	    </div>
	    <label for="password">Password</label>
	    <div>
	      <input type="password" name="password" id="password" placeholder="Your password"/>
	      <p typeth:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>
	    </div>
	    <label for="email">Email</label>
	    <div>
	      <input th:field="*{email}" type="email" name="email" id="email" placeholder="Your email"/>
	      <p typeth:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
	    </div>
	    <div>
	      <button type="submit">Update</button>
	    </div>
	</form>
</body>
</html>
