<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:typeth="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title>Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class=" col-3 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Register</h5>
              <div class="form-label-group">
              <form action="#" th:action="@{/register}" th:object="${user}" method="post">
                <div class="form-label-group">
                  <label for="username">Name</label>
                  <br>
                  <input type="text" name="username" id="username" placeholder="Your username"/>
                </div>
                <div class="form-label-group">
                  <label for="password">Password</label>
                  <br>
                    <input type="password" name="password" id="password" placeholder="Your password"/>
                </div>
                <div class="form-label-group">
                  <label for="email">Email</label>
                  <br>
                  <input type="email" name="email" id="email" placeholder="Your email"/>
                </div>
                <button  class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
