<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:typeth="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title th:text="${user.username}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <h1 th:text="${user.username}"></h1>
    <p th:text="${user.email}"></p>
    <a th:href="@{/}">Back to List</a>

</body>
</html>